/* Viewport */
#viewport{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
    margin:0 auto;
    background:#212121;
}
/* Wall */
#wall{
    z-index:1;
}

    #wall.not-clicked {
        cursor: url('../images/open-hand.png'), default;
    }

    #wall.clicked {
        cursor: url('../images/closed-hand.png'), default;
    }

    /* Tile Wall create */
    #wall .tile{
        color:#FFFFFF;
        text-align:center;
        line-height:180px;
        background-image: url('../images/look.png');
    }
